body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #dde3ee; 
  color: #edeff1; 
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.mainlogo {
  width: 50px;
  height: 50px;
  margin-right: 600px;
}

nav {
  display: flex;
  padding: 15px;
}

nav a {
  color: #120101;
  text-decoration: none;
  margin-right: 20px;
}

nav a:hover {
  text-decoration: underline;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

div:last-child a {
  margin-left: 20px;
}
